@import './variables.css';

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  box-sizing: border-box;
  font-family: var(--body-font);
  color: var(--text);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);

  background-color: var(--bg);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  --button-color: var(--header-bg);

  padding: 0.2rem 1rem;

  background-color: var(--button-color);
  border: 3px outset var(--button-color);
  border-radius: 5px;

  color: var(--title-color);
  font: inherit;

  transition: 0.2s; 
  outline: none;
}

button:focus {
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
}

button:hover {
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

button:active {
  box-shadow: 0 0 0;
  border: 3px inset var(--button-color);
}
button:disabled {
  filter: blur(0.8px);
  box-shadow: 0 0 0;
  border: 3px inset var(--button-color);
  cursor: default;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: var(--img-width);
  height: auto;
}

ol {
  list-style: none;
  padding: 0;
}

h1, h2, h3 {
  font-weight: inherit;
}

.error {
  text-align: center;
  color: var(--error-red)
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 0.8rem;
  }
}

