:root {
  --title-color: white;
  --body-color: rgb(46, 45, 45);

  --header-bg: rgb(25, 25, 133);
  --secondary-bg: rgb(47, 201, 218);
  --bg: rgb(255, 255, 255);

  --decorative-title-font: 'Cinzel Decorative', cursive;
  --title-font: 'Cinzel', Georgia, serif;
  --body-font: 'Quicksand', sans-serif;

  --max-width: 900px
}