:root {
  --title-color: white;
  --body-color: rgb(46, 45, 45);
  --error-red: rgb(142, 26, 26);

  --border-color: rgba(63, 63, 152, 0.3);
  
  --header-bg: rgb(25, 25, 133);
  --secondary-bg: rgb(237, 247, 247);
  --bg: rgb(255, 255, 255);
  --scrim-color: rgba(180, 213, 213, 0.3);

  --gradient: linear-gradient(45deg, var(--bg), var(--secondary-bg));
  --title-gradient: linear-gradient(45deg, var(--header-bg), rgb(58, 58, 176));

  --decorative-title-font: 'Playfair Display', serif;
  --title-font: 'Spectral SC', serif;
  --body-font: 'Playfair Display', serif;

  --max-width: 900px;
  --img-width: 400px;
  --bottom-margin: 6rem;
}

